# Compiled class file
*.class

# Log file
*.log

# Blue1 files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Maven и сборка
target/
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db